/* body{
    background-color:rgba(168, 106, 240, 0.288);} */

.container-fluid {
    font-family:
        'Roboto'sans-serif;
}

h1{
    text-align: center;
    color: rgb(58, 57, 57);
}

.col-md-9 {
    font-family:
    'Roboto'sans-serif;
    font-size: 18px;
    text-align: center;
   color: rgb(58, 57, 57);
}


/* .col-md-3 {
    margin: auto;
    border-radius: 15px;
}

.col-md-9 {

    margin: auto;
    border-radius: 15px;

} */

.navbar-brand {
    font-family:
        'Roboto',
        sans-serif;
}

.nav-link {
    font-family:
        'Roboto'sans-serif;
}